@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family:  'Nanum Myeongjo',serif ;
  font-weight: bold ;
  /*마진 이거 여백임 건들면 흰띠 생긴다 건들노노해 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


